.box {
	padding: 24px 16px 20px;
	background: $light-grey;

	@media (min-width: $tablet-width) {
		padding: 32px 16px;
	}

	@media (min-width: $desktop-width) {
		padding: 48px;
	}
}

.box__ttl {
	margin: 0;
	font-size: 12px;
	line-height: 20px;

	@media (min-width: $tablet-width) {
		font-size: 14px;
		line-height: 24px;
	}

	@media (min-width: $desktop-width) {
		font-size: 16px;
		line-height: 27px;
	}
}

.box__row {
	display: flex;
	align-items: flex-start;
	margin: 24px 0 0;

	@media (min-width: $tablet-width) {
		margin: 20px 0 0;
	}

	@media (min-width: $desktop-width) {
		margin: 32px 0 0;
	}
}

.box__price-block {
	margin: 0 16px 0 0;

	@media (min-width: $tablet-width) {
		margin: 0 24px 0 0;
	}

	@media (min-width: $desktop-width) {
		margin: 0 48px 0 0;
	}
}

.box__price {
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	color: #000;

	@media (min-width: $tablet-width) {
		font-size: 32px;
		line-height: 32px;
	}

	@media (min-width: $desktop-width) {
		font-size: 52px;
		line-height: 52px;
	}
}

.box__price-period {
	margin: 14px 0 0;
	font-size: 16px;
	line-height: 27px;
	color: #000;

	@media (min-width: $tablet-width) {
		margin: 12px 0 0;
	}

	@media (min-width: $desktop-width) {
		margin: 14px 0 0;
		font-size: 24px;
		line-height: 41px;
	}
}

.box__discount-block {
	padding: 10px 20px;
	background: #FEF653;
}

.box__discount {
	margin: 0;
	font-size: 14px;
	line-height: 20px;

	@media (min-width: $tablet-width) {
		font-size: 16px;
		line-height: 22px;
	}

	@media (min-width: $desktop-width) {
		font-size: 20px;
		line-height: 28px;
	}
}

.box__discount-period {
	margin: 5px 0 0;
	font-size: 8px;
	line-height: 11px;

	@media (min-width: $tablet-width) {
		font-size: 10px;
		line-height: 14px;
	}

	@media (min-width: $desktop-width) {
		font-size: 14px;
		line-height: 20px;
	}
}

.box__note {
	margin: 24px 0 0;
	font-size: 8px;
	line-height: 11px;

	@media (min-width: $tablet-width) {
		font-size: 10px;
		line-height: 14px;
	}

	@media (min-width: $desktop-width) {
		margin: 46px 0 0;
		font-size: 14px;
		line-height: 20px;
	}
}

.box__note-price {
	margin: 4px 0 0;
	font-size: 24px;
	line-height: 41px;

	@media (min-width: $tablet-width) {
		position: relative;
		display: inline-block;
		font-size: 16px;
		line-height: 27px;

		&:after {
			position: absolute;
			content: '';
			left: 0;
			right: 0;
			top: 15px;
			height: 1px;
			background: $grey;
		}
	}

	@media (min-width: $desktop-width) {
		font-size: 24px;
		line-height: 41px;

		&:after {
			top: 22px;
		}
	}
}
