::-webkit-input-placeholder {
	color: $grey;
}
::-moz-placeholder {
	color: $grey;
}/*Firefox19+*/
:-moz-placeholder {
	color: $grey;
}/*Firefox18-*/
:-ms-input-placeholder {
	color: $grey;
}

.form__field {
	margin: 0 0 16px;
	padding: 9px 0 8px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);

	@media (min-width: $tablet-width) {
		padding: 10px 0;
	}

	@media (min-width: $desktop-width) {
		padding: 11px 0 15px;
	}
}

.form__field-input {
	border: none;
	width: 100%;
	height: 100%;
	outline: none;
	font-size: 12px;
	line-height: 20px;

	@media (min-width: $tablet-width) {
		font-size: 14px;
		line-height: 24px;
	}

	@media (min-width: $desktop-width) {
		font-size: 16px;
		line-height: 27px;
	}
}

.form__button {
	margin: 16px 0 0;
	padding: 0;
	font-size: 20px;
	line-height: 22px;
	border: none;
	background: transparent;
	text-transform: uppercase;
	text-decoration: underline;
	font-family: $title_font_family;
	cursor: pointer;

	@media (min-width: $tablet-width) {
		margin: 12px 0 0;
	}

	@media (min-width: $desktop-width) {
		margin: 16px 0 0;
		font-size: 30px;
		line-height: 33px;
	}
}
